.message_from {

    background-color: olivedrab;
    text-align: left;
    border-radius: 5px;

}

.message_to {

    background-color: blueviolet;
    text-align: right;
    border-radius: 5px;
}

.msg {

    background-color: saddlebrown;
    text-align: right;
    border-radius: 5px;
}